{% extends 'base.html.twig' %}

{% block title %}Hello ArgonauteController!{% endblock %}

{% block body %}
<div>
    <h2>Membres de l'équipage</h2>
    
    {% for argonaute in argonautes %}
        <p>{{ argonaute.name }}</p>
    {% endfor %}
</div>
{% endblock %}
